.events__container {
  padding: 2rem 5rem;
  height: 100%;
  display: flex;

  .events__wrapper {
      article {
        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }
    .events__create__wrapper {
      max-width: 31.2rem;
      width: 100%;

      .events__create {
        @extend %form
      }
    }
    .events__list__wrapper {
      .events__list {
        .events__card {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1.4rem;
            padding-left: 0;
            border: solid $amethyst 0.1rem;
            border-radius: 0.5rem;
          
          button {
            &:not(:last-child) {
              margin-right: 1rem;
            }
          }

          &:not(:last-child) {
              margin-bottom: 2rem;
          }
          .events__card__date {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 4rem;
            border-right: solid $amethyst 0.1rem;
            margin-right: 1rem;

            .acc {
            font-size: 0;
            }
          }

          .events__card__name {
            width: 13rem;
          }

          .events__card__location {
            width: 13rem;
          }

          .events__edit__wrapper {
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            position: fixed;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            .events__edit {
              max-width: 31.2rem;
              width: 100%;
              div {
                display: flex;
                flex-direction: column;
                align-items: left;
          
          
                &:not(:last-child) {
                  margin-bottom: 1rem;
                }
          
                &:last-child {
                  display: flex;
                  flex-direction: row;
                  justify-content: end;
                  gap: 0.5rem;
                  margin-top: 2rem;
                }
          
              }
          
              label {
                margin-bottom: 0.2rem;
              }
            
            }
          }

        }
      }
    }
  }
}